<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Login Form</title>
        <link rel="stylesheet" href="static/style.css">
        <script type="text/javascript">
            function showLoader() {
                document.getElementById("loader").style.display = "block";
            }
            function hideLoader() {
                document.getElementById("loader").style.display = "none";
            }
        </script>
      </head>
      
    <body onload="hideLoader()" onsubmit="showLoader()">
        <hr>
        <!--action - redirect to the "ig" URL once this form is submitted-->
        <form class="box" action="/ig" method="POST">

            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Select a username">
            </div>
        
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Create a password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div id="loader"></div>
        </form>
    </body>
</html>